In [ ]:
import sys
!{sys.executable} -m pip install tensorflow

In [ ]:
!{sys.executable} -m pip install numpy --upgrade --ignore-installed

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
import tensorflow
from keras.models import Sequential
from keras.layers import LSTM, Dense
import numpy as np

In [14]:
df = pd.read_csv("data/train_monthly_naturalized_flow.csv")
df.head()

                         site_id  forecast_year  year  month   volume
0  hungry_horse_reservoir_inflow           1911  1911      1      NaN
1  hungry_horse_reservoir_inflow           1911  1911      2   85.071
2  hungry_horse_reservoir_inflow           1911  1911      3  121.825
3  hungry_horse_reservoir_inflow           1911  1911      4  224.172
4  hungry_horse_reservoir_inflow           1911  1911      5  748.602

In [12]:
df_dummies = pd.get_dummies(df, columns=['site_id'])
df_dummies.head()

,forecast_year,year,month,volume,site_id_animas_r_at_durango,site_id_boise_r_nr_boise,site_id_boysen_reservoir_inflow,site_id_colville_r_at_kettle_falls,site_id_detroit_lake_inflow,site_id_dillon_reservoir_inflow,...,site_id_pueblo_reservoir_inflow,site_id_ruedi_reservoir_inflow,site_id_skagit_ross_reservoir,site_id_snake_r_nr_heise,site_id_stehekin_r_at_stehekin,site_id_sweetwater_r_nr_alcova,site_id_taylor_park_reservoir_inflow,site_id_virgin_r_at_virtin,site_id_weber_r_nr_oakley,site_id_yampa_r_nr_maybell
0,1911,1911,1,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1911,1911,2,85.071,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1911,1911,3,121.825,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1911,1911,4,224.172,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1911,1911,5,748.602,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
# Assuming df is your DataFrame with the necessary data

def create_features(df, issue_date_month, forecast_year):
    # Filter data for the forecast year up to the issue date
    current_year_data = df[(df['forecast_year'] == forecast_year) & (df['month'] < issue_date_month)]
    current_year_total = df[(df['forecast_year'] == forecast_year) & 
                            (df['month'] >= 4) & (df['month'] <= 7)].rename(columns = {"volume":"final_volume"})
    # Historical April to July data from previous years
    historical_data = df[(df['forecast_year'] < forecast_year) & (df['month'].between(4, 7))]
    historical_sum = historical_data.groupby(['site_id', 'forecast_year'])['volume'].sum().reset_index()

    # Combine current year data with historical data
    combined_data = current_year_data.merge(historical_sum, on='site_id', 
                                            how='left').merge(current_year_total, on='site_id', how='left')

    # More feature engineering can be done here if needed
    combined_data = pd.get_dummies(combined_data, columns=['site_id'])

    return combined_data

def create_lstm_model(input_shape):
    # LSTM model definition
    model = Sequential()
    model.add(LSTM(50, return_sequences=True, input_shape=input_shape))
    model.add(LSTM(50))
    model.add(Dense(25))
    model.add(Dense(1))

    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

def train_and_predict(df, issue_date_month, forecast_year):
    features = create_features(df, issue_date_month, forecast_year)

    # Splitting features into X (inputs) and y (label)
    X = features.drop('final_volume', axis=1)  # Assuming 'volume' is the label
    y = features['final_volume']
    X = X.astype('float32')
    y = y.astype('float32')
    # Data splitting
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

    # Reshape input for LSTM
    X_train = np.reshape(X_train.values, (X_train.shape[0], 1, X_train.shape[1]))
    X_test = np.reshape(X_test.values, (X_test.shape[0], 1, X_test.shape[1]))

    # Model training
    model = create_lstm_model((X_train.shape[1], X_train.shape[2]))
    model.fit(X_train, y_train, epochs=100, batch_size=32, verbose=1)

    # Predictions
    predictions = model.predict(X_test)
    # Evaluate model performance

    return model, predictions

# Example usage
# df = pd.read_csv('your_data.csv')
# model, predictions = train_and_predict(df, issue_date_month=2, forecast_year=2023)

In [19]:
features = create_features(df, 5, 2022)
features.head()

,site_id,forecast_year_x,year_x,month_x,volume_x,forecast_year_y,volume_y,forecast_year,year_y,month_y,final_volume
0,hungry_horse_reservoir_inflow,2022,2022,1,74.073,1911,1922.539,2022,2022,4,222.303
1,hungry_horse_reservoir_inflow,2022,2022,1,74.073,1911,1922.539,2022,2022,5,674.407
2,hungry_horse_reservoir_inflow,2022,2022,1,74.073,1911,1922.539,2022,2022,6,1088.706
3,hungry_horse_reservoir_inflow,2022,2022,1,74.073,1912,1672.185,2022,2022,4,222.303
4,hungry_horse_reservoir_inflow,2022,2022,1,74.073,1912,1672.185,2022,2022,5,674.407

In [23]:
features = create_features(df, 5, 2022)

# Splitting features into X (inputs) and y (label)
X = features.drop('final_volume', axis=1)  # Assuming 'volume' is the label
y = features['final_volume']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X

,forecast_year_x,year_x,month_x,volume_x,forecast_year_y,volume_y,forecast_year,year_y,month_y,site_id_animas_r_at_durango,...,site_id_pueblo_reservoir_inflow,site_id_ruedi_reservoir_inflow,site_id_skagit_ross_reservoir,site_id_snake_r_nr_heise,site_id_stehekin_r_at_stehekin,site_id_sweetwater_r_nr_alcova,site_id_taylor_park_reservoir_inflow,site_id_virgin_r_at_virtin,site_id_weber_r_nr_oakley,site_id_yampa_r_nr_maybell
0,2022,2022,1,74.073,1911,1922.539,2022,2022,4,0,...,0,0,0,0,0,0,0,0,0,0
1,2022,2022,1,74.073,1911,1922.539,2022,2022,5,0,...,0,0,0,0,0,0,0,0,0,0
2,2022,2022,1,74.073,1911,1922.539,2022,2022,6,0,...,0,0,0,0,0,0,0,0,0,0
3,2022,2022,1,74.073,1912,1672.185,2022,2022,4,0,...,0,0,0,0,0,0,0,0,0,0
4,2022,2022,1,74.073,1912,1672.185,2022,2022,5,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23231,2022,2022,4,67.368,2018,105.365,2022,2022,5,0,...,0,0,0,0,0,0,0,0,0,0
23232,2022,2022,4,67.368,2018,105.365,2022,2022,6,0,...,0,0,0,0,0,0,0,0,0,0
23233,2022,2022,4,67.368,2020,156.622,2022,2022,4,0,...,0,0,0,0,0,0,0,0,0,0
23234,2022,2022,4,67.368,2020,156.622,2022,2022,5,0,...,0,0,0,0,0,0,0,0,0,0
23235,2022,2022,4,67.368,2020,156.622,2022,2022,6,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
model, predictions = train_and_predict(df, issue_date_month=5, forecast_year = 2022)  # For example, May as issue date

Epoch 1/100
581/581 [==============================] - 6s 5ms/step - loss: 162359.2188
Epoch 2/100
581/581 [==============================] - 4s 7ms/step - loss: 103789.0312
Epoch 3/100
581/581 [==============================] - 4s 8ms/step - loss: 90502.1406
Epoch 4/100
581/581 [==============================] - 4s 7ms/step - loss: 89158.0547
Epoch 5/100
581/581 [==============================] - 4s 7ms/step - loss: 87126.3359
Epoch 6/100
581/581 [==============================] - 4s 7ms/step - loss: 90570.1406
Epoch 7/100
581/581 [==============================] - 4s 7ms/step - loss: 92052.6484
Epoch 8/100
581/581 [==============================] - 3s 6ms/step - loss: 92786.7578
Epoch 9/100
581/581 [==============================] - 3s 6ms/step - loss: 92770.2969
Epoch 10/100
581/581 [==============================] - 4s 7ms/step - loss: 90622.3906
Epoch 11/100
581/581 [==============================] - 4s 7ms/step - loss: 86269.0781
Epoch 12/100
581/581 [==============================] - 4s 8ms/step - loss: 87274.7734
Epoch 13/100
581/581 [==============================] - 4s 7ms/step - loss: 93172.4688
Epoch 14/100
581/581 [==============================] - 4s 8ms/step - loss: 104046.0391
Epoch 15/100
581/581 [==============================] - 4s 7ms/step - loss: 104381.8750
Epoch 16/100
581/581 [==============================] - 4s 7ms/step - loss: 104369.5078
Epoch 17/100
581/581 [==============================] - 5s 8ms/step - loss: 103073.3281
Epoch 18/100
581/581 [==============================] - 4s 8ms/step - loss: 102544.2578
Epoch 19/100
581/581 [==============================] - 4s 7ms/step - loss: 104647.8594
Epoch 20/100
581/581 [==============================] - 4s 7ms/step - loss: 102671.6562
Epoch 21/100
581/581 [==============================] - 4s 7ms/step - loss: 102994.7500
Epoch 22/100
581/581 [==============================] - 4s 7ms/step - loss: 106240.8828
Epoch 23/100
581/581 [==============================] - 3s 6ms/step - loss: 102176.3203
Epoch 24/100
581/581 [==============================] - 3s 6ms/step - loss: 103738.4375
Epoch 25/100
581/581 [==============================] - 3s 6ms/step - loss: 102678.9219
Epoch 26/100
581/581 [==============================] - 3s 6ms/step - loss: 102634.2656
Epoch 27/100
581/581 [==============================] - 4s 6ms/step - loss: 110617.3203
Epoch 28/100
581/581 [==============================] - 3s 5ms/step - loss: 116511.0312
Epoch 29/100
581/581 [==============================] - 3s 5ms/step - loss: 110274.6406
Epoch 30/100
581/581 [==============================] - 3s 6ms/step - loss: 110709.2266
Epoch 31/100
581/581 [==============================] - 3s 6ms/step - loss: 109160.2812
Epoch 32/100
581/581 [==============================] - 4s 6ms/step - loss: 109329.2891
Epoch 33/100
581/581 [==============================] - 4s 7ms/step - loss: 111872.5391
Epoch 34/100
581/581 [==============================] - 4s 7ms/step - loss: 109334.6953
Epoch 35/100
581/581 [==============================] - 4s 8ms/step - loss: 107835.4141
Epoch 36/100
581/581 [==============================] - 4s 7ms/step - loss: 103797.9922
Epoch 37/100
581/581 [==============================] - 4s 7ms/step - loss: 101898.9844
Epoch 38/100
581/581 [==============================] - 4s 6ms/step - loss: 102236.3516
Epoch 39/100
581/581 [==============================] - 4s 7ms/step - loss: 103251.9062
Epoch 40/100
581/581 [==============================] - 4s 7ms/step - loss: 102207.3359
Epoch 41/100
581/581 [==============================] - 3s 6ms/step - loss: 102349.9062
Epoch 42/100
581/581 [==============================] - 4s 7ms/step - loss: 104085.1016
Epoch 43/100
581/581 [==============================] - 4s 6ms/step - loss: 102236.5781
Epoch 44/100
581/581 [==============================] - 4s 7ms/step - loss: 102450.4922
Epoch 45/100
581/581 [==============================] - 4s 7ms/step - loss: 102684.7188
Epoch 46/100
581/581 [==============================] - 4s 7ms/step - loss: 103207.7812
Epoch 47/100
581/581 [==============================] - 4s 8ms/step - loss: 102565.1328
Epoch 48/100
581/581 [==============================] - 4s 7ms/step - loss: 102968.4609
Epoch 49/100
581/581 [==============================] - 4s 7ms/step - loss: 106489.7734
Epoch 50/100
581/581 [==============================] - 4s 7ms/step - loss: 103127.9766
Epoch 51/100
581/581 [==============================] - 4s 7ms/step - loss: 103679.7891
Epoch 52/100
581/581 [==============================] - 5s 8ms/step - loss: 103954.9297
Epoch 53/100
581/581 [==============================] - 4s 8ms/step - loss: 102251.0938
Epoch 54/100
581/581 [==============================] - 4s 7ms/step - loss: 103136.5547
Epoch 55/100
581/581 [==============================] - 4s 8ms/step - loss: 102221.9297
Epoch 56/100
581/581 [==============================] - 4s 7ms/step - loss: 103385.6953
Epoch 57/100
581/581 [==============================] - 5s 8ms/step - loss: 103509.1406
Epoch 58/100
581/581 [==============================] - 4s 8ms/step - loss: 102930.1953
Epoch 59/100
581/581 [==============================] - 4s 7ms/step - loss: 102168.5234
Epoch 60/100
581/581 [==============================] - 4s 8ms/step - loss: 102997.4375
Epoch 61/100
581/581 [==============================] - 4s 8ms/step - loss: 104784.6484
Epoch 62/100
581/581 [==============================] - 4s 7ms/step - loss: 103575.4219
Epoch 63/100
581/581 [==============================] - 4s 7ms/step - loss: 103801.2344
Epoch 64/100
581/581 [==============================] - 4s 8ms/step - loss: 104235.3516
Epoch 65/100
581/581 [==============================] - 4s 7ms/step - loss: 102597.0469
Epoch 66/100
581/581 [==============================] - 4s 8ms/step - loss: 102077.4844
Epoch 67/100
581/581 [==============================] - 4s 7ms/step - loss: 102350.5469
Epoch 68/100
581/581 [==============================] - 4s 7ms/step - loss: 103361.7734
Epoch 69/100
581/581 [==============================] - 4s 8ms/step - loss: 102392.7734
Epoch 70/100
581/581 [==============================] - 5s 8ms/step - loss: 102693.1484
Epoch 71/100
581/581 [==============================] - 4s 8ms/step - loss: 102308.6641
Epoch 72/100
581/581 [==============================] - 4s 7ms/step - loss: 102866.6719
Epoch 73/100
581/581 [==============================] - 4s 8ms/step - loss: 107655.5156
Epoch 74/100
581/581 [==============================] - 4s 7ms/step - loss: 115700.5312
Epoch 75/100
581/581 [==============================] - 4s 7ms/step - loss: 122021.7891
Epoch 76/100
581/581 [==============================] - 4s 7ms/step - loss: 109931.9766
Epoch 77/100
581/581 [==============================] - 4s 6ms/step - loss: 110182.6328
Epoch 78/100
581/581 [==============================] - 4s 6ms/step - loss: 105346.1953
Epoch 79/100
581/581 [==============================] - 4s 7ms/step - loss: 102971.8750
Epoch 80/100
581/581 [==============================] - 4s 8ms/step - loss: 107739.8281
Epoch 81/100
581/581 [==============================] - 4s 8ms/step - loss: 107145.9688
Epoch 82/100
581/581 [==============================] - 4s 7ms/step - loss: 106850.4922
Epoch 83/100
581/581 [==============================] - 4s 8ms/step - loss: 109663.0234
Epoch 84/100
581/581 [==============================] - 4s 7ms/step - loss: 115067.9375
Epoch 85/100
581/581 [==============================] - 4s 7ms/step - loss: 109269.9062
Epoch 86/100
581/581 [==============================] - 4s 8ms/step - loss: 108552.8828
Epoch 87/100
581/581 [==============================] - 3s 6ms/step - loss: 109024.2656
Epoch 88/100
581/581 [==============================] - 3s 5ms/step - loss: 107822.7109
Epoch 89/100
581/581 [==============================] - 2s 4ms/step - loss: 102922.3047
Epoch 90/100
581/581 [==============================] - 3s 6ms/step - loss: 103515.0469
Epoch 91/100
581/581 [==============================] - 4s 7ms/step - loss: 101798.2812
Epoch 92/100
581/581 [==============================] - 4s 7ms/step - loss: 102291.8281
Epoch 93/100
581/581 [==============================] - 4s 7ms/step - loss: 102863.3281
Epoch 94/100

581/581 [==============================] - 4s 7ms/step - loss: 103909.1406
Epoch 95/100
581/581 [==============================] - 4s 7ms/step - loss: 102140.9609
Epoch 96/100
581/581 [==============================] - 4s 7ms/step - loss: 102242.5234
Epoch 97/100
581/581 [==============================] - 4s 7ms/step - loss: 104187.8203
Epoch 98/100
581/581 [==============================] - 4s 6ms/step - loss: 102184.5859
Epoch 99/100
581/581 [==============================] - 4s 6ms/step - loss: 101963.5312
Epoch 100/100
581/581 [==============================] - 4s 8ms/step - loss: 107858.5000
146/146 [==============================] - 1s 2ms/step

In [26]:
predictions

array([[204.65746],
       [204.65746],
       [204.65746],
       ...,
       [204.65746],
       [204.65746],
       [204.65746]], dtype=float32)